body {
  font-family: 'Arial', sans-serif;
  margin: 10px;
  padding: 0;
  background-image: url(./img/banner.webp);

}

header {
  background-color: #fcb900;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin-bottom: 15px;
}

.head {
  background-color: black;
  text-align: center;
  color: white;
}

.logo {
  padding-left: 25px;
  width: 70px; 
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: white;
  color: rgb(166, 166, 166);
  padding: 20px;
  text-align: center;
  margin: 15px;
  margin-left: 900px;
  width: 450px;
}

.feedback-form form {
  margin: 20px;
}

.feedback-form button {
  margin-right: 10px;
  background-color: #35b6d6;
  margin: 10px;
  height: 25px;
}

.subscribe-form input,
.subscribe-form button {
  padding: 10px;
  margin-right: 10px;
  background-color: #eb3223;
  margin: 20px;
}


.social-container {
  background: #cfcbcb;
  width: 60px;
  height: 130px;
  margin-top: 100px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: rgb(230, 36, 36);
}

.socialFeedback {
  padding: 20px;
  display: flex;
  margin: 15px;
}

