body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ced631;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  padding: 20px;
}

footer {
  background-color: #5965e9;
  color: white;
  padding: 20px;
  text-align: center;
}

.feedback-form form {
  margin-top: 20px;
  /* width: 200px;
  height: 100px; */
}

.feedback-form button {
  padding: 10px;
  margin-right: 10px;
  background-color: #04f939;
  margin: 2%;
}

.subscribe-form input,
.subscribe-form button {
  padding: 10px;
  margin-right: 10px;
  background-color: #f90404;
  margin: 20px;
}


.social-container {
  background: #eee;
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

